h1,h2,h3,h4,h5,h6{
	color:hsl(0, 21%, 92%);
	font-family: 'Times New Roman', Times, serif;
}

	
.box-element{
	box-shadow:hsl(0, 0%, 8%) 0 0 16px;
	background-color: rgb(14, 13, 13);
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 350px;
	height:420px;
	-webkit-box-shadow: -1px -3px 5px -2px rgb(3, 3, 3);
    -moz-box-shadow: -1px -3px 5px -2px rgb(3, 3, 3);
    box-shadow: -1px -3px 5px -2px rgb(3, 3, 3);
}

.product{
	border-radius: 0 0 6px 6px;
    width: 350px;
}

.nav-link{
	font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

.navbar-brand{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
.logo{
    width: 55px;
}

#cart-icon{
	width:38px;
	display: inline-block;
    margin-top: 10px;
    padding-right: 0px;
    border-right: 0px;
}

#cart-total{
    display: inline-block;
	text-align: center;
	color:#fff;
	background-color:black;
	width: 20px;
	height: 25px;
	border-radius: 80%;
	font-size: 14px;
    margin-left: 0px;
    margin-right: 15px;
   
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}
.col-lg-14{
	margin-top: 170px;
	margin-bottom: 30px;
}
 
.end{
	width: 370px;
	height:400px;
	-webkit-box-shadow: -1px -3px 5px -2px rgb(3, 3, 3);
    -moz-box-shadow: -1px -3px 5px -2px rgb(3, 3, 3);
    box-shadow: -1px -3px 5px -2px rgb(3, 3, 3);
	border-radius: 0 0 6px 6px;
   
}


.main{
	background-color: #9c0a0ad2;
}

.btn{
	border-radius: 0;
    width: 120px;
    padding: 5px;

}
.cs{
	border-radius: 0;
    width: 200px;
    padding: 5px;
}

.row-image{
	width: 100 px;
    height: 80px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
    color: #fff;
}

#shipping-info{
    color: #fff;
}

.cart-row{
	display: flex;
    align-items: stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    color: #fff;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

body{
	background-image: url(../images/stars.jpg);
	/* background-color: black; */
}

footer {
	margin-top: 200px;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	padding-top: 20px;
	background-color: #9c0a0ac5;
	color: white;
	height: 100px;
	
}