{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row" style="height: 200px;">
    <img src="../../static/images/fix.png">
    
</div>

<div class="row">
    <div class="col-lg-14">
        <div class="box-element">
            <hr style="color: #9c0a0ad2;">
            <h1 style="font-size: 65px;">Lucid</h1>
            <h4 style="font-size: 35px; color: #9c0a0ad2;">About us</h4>
            <hr style="color: #9c0a0ad2;"> 
            <p style="color: aliceblue; font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem 
            excepturi corporis velit sapiente reiciendis, molestiae natus non distinctio harum laudantium! Accusamus
            illum rem ullam nulla ipsa sunt officia eum voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quasi perferendis labore, totam soluta facere sapiente, veniam voluptate, culpa enim similique dolore.
            Tempora quasi rerum adipisci laudantium rem, quae amet inventore.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem 
            excepturi corporis velit sapiente reiciendis, molestiae natus non distinctio harum laudantium! Accusamus
            illum rem ullam nulla ipsa sunt officia eum voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quasi perferendis labore, totam soluta facere sapiente, veniam voluptate, culpa enim similique dolore.
            Tempora quasi rerum adipisci laudantium rem, quae amet inventore.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem 
            excepturi corporis velit sapiente reiciendis, molestiae natus non distinctio harum laudantium! Accusamus
            illum rem ullam nulla ipsa sunt officia eum voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quasi perferendis labore, totam soluta facere sapiente, veniam voluptate, culpa enim similique dolore.
            Tempora quasi rerum adipisci laudantium rem, quae amet inventore.
            <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem 
            excepturi corporis velit sapiente reiciendis, molestiae natus non distinctio harum laudantium! Accusamus
            illum rem ullam nulla ipsa sunt officia eum voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quasi perferendis labore, totam soluta facere sapiente, veniam voluptate, culpa enim similique dolore.
            Tempora quasi rerum adipisci laudantium rem, quae amet inventore.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem 
            excepturi corporis velit sapiente reiciendis, molestiae natus non distinctio harum laudantium! Accusamus
            illum rem ullam nulla ipsa sunt officia eum voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quasi perferendis labore, totam soluta facere sapiente, veniam voluptate, culpa enim similique dolore.
            Tempora quasi rerum adipisci laudantium rem, quae amet inventore.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem 
            excepturi corporis velit sapiente reiciendis, molestiae natus non distinctio harum laudantium! Accusamus
            illum rem ullam nulla ipsa sunt officia eum voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quasi perferendis labore, totam soluta facere sapiente, veniam voluptate, culpa enim similique dolore.
            Tempora quasi rerum adipisci laudantium rem, quae amet inventore.
             </p>
            <br>      
        </div>
    </div>   
</div>

<div class="row">
    
    <div class="col-lg-4">
        <img class="end" src="../../static/images/b1.png">
        
    </div>

    <div class="col-lg-4">
        <img class="end" src="../../static/images/b2.png">
        
    </div>

    <div class="col-lg-4">
        <img class="end" src="../../static/images/b3.png">
        
    </div>
    
</div>

<br>
{% endblock content %}